.font-family-inknut {
  font-family: 'Inknut Antiqua';
}

.font-family-inter {
  font-family: 'Inter';
}

.font-family-inria {
  font-family: 'Inria Serif';
}

.color-black {
  color: #000000;
}

.custom-bg-color {
  background-color: #6cbdd7 !important;
}

.custom-padding{
  padding-top: 9rem;
}

.custom-margin p{
  margin: 0.85rem;
}

.menu:hover {
  color: #dc3545;
}

.bg-light-blue {
  background-color: #c9dde3;
}