.font-family-inter{
    font-family: 'Inter';
  }
  
  .color-black{
    color: #000000;
  }

  .custom-padding{
    padding-top: 9rem;
  }

  .menu:hover{
    color: #dc3545;
  }
  
  .bg-light-blue{
    background-color: #c9dde3;
  }

  .bg-blue{
     background-color: #addeed;
  }

  .outer-box-1{
    width: 90%;
    background-color: #addeed;
  }

  @media only screen and (max-width: 767px) {
    .custom-width{
      width: 36px;
    }

    .b-none{
      border: none !important;
    }
  }

  