.font-family-inknut{
    font-family: 'Inknut Antiqua';
  }

  .font-family-inter{
    font-family: 'Inter';
  }
  
  .color-black{
    color: #000000;
  }

  .menu:hover{
    color: #dc3545;
  }
  
  .bg-light-blue{
    background-color: #c9dde3;
  }

  .mtop-5{
    margin-top: 5rem;
  }

  .dress{
    left: 32.5%;
    bottom: 2%;
}
  
.hair-styles{
    background-color: #addeed;
}

@media only screen and (max-width: 767px) {
  .custom-width{
    width: 36px;
  }
  .dress{
    left: -2.5%;
    bottom: 6%;

}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dress{
    left: 19%;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .dress{
    left: 27%;
  }
 
}

/* @media screen and (max-width: 1440px) {
  .dress{
  left: 33.5%;
}
}

@media screen and (max-width: 2560px) {
  .dress {
    left: 40.75%;
}
} */
